@import url(./reset.css);
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

body {
  font-family: "NanumSquare";
  font-weight: Regular;
}

/* section01 */

#section01 {
  background-image: url(./images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*header*/

#header {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
